@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: none;
  font-family: "Poppins", sans-serif;
}

/* cursor */
.cursor {
  pointer-events: none;
}

.cursor__ball--big {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball--small {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

circle {
  fill: #ff4700;
}

html {
  scroll-behavior: smooth;
}

/* header section */
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 24px 0;
}

.heading-tech h1 {
  font-size: 40px;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  padding: 12px;
}

#header .logo img {
  position: absolute;
  width: 90px;
  height: 55px;
  left: 140px;
  top: 16px;
  padding: 0;
  margin: 0;
  max-height: 60px;
}
#btnnav{
  position: absolute;
  height: 60px;
}
#header .nav-btn{
  filter: invert(48%) sepia(96%) saturate(4805%) hue-rotate(359deg) brightness(99%) contrast(106%);
  position: absolute;
  width: 42.05px;
  height: 43.81px;
  top: 16px;
  right: 140px;
}

@media (max-width: 768px) {
  #header{
    position: sticky;
    padding: 0px;
    /* width: 10px; */
  }
  #title{
    position: absolute;
    bottom: 151px;
    left: 109px;
  }

  #header.header-scrolled {
    /* padding: 15px 0; */
  }
  #header .logo img{
    position: absolute;
    height: 40px;
    width: 70px;
    top: 19px;
    left: 15px;
  }
  #btnnav{
    position: absolute;
    height: 50px;
    left: 110px;
  }
  /* #header .nav-btn{
    position: absolute;
    height: 100px;
    width: 75px;
    top: 20px;
    right: 30px ;
  } */
 
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {

  #header{
    position: sticky;
    padding: 0px;

  }

  #header.header-scrolled {
    padding: 15px 0;
  }
  #header .logo img{
    position: absolute;
    width: 152px;
    min-height: 90px;
    top: 25px;
    left: 43px; 
  }
  #btnnav{
    position: absolute;
    height: 90px;
    left: 103px;
  }
  #header .nav-btn{
    position: absolute;
    height: 100px;
    width: 105px;
    top: 25px;
    right: 120px ;
  
  }
  body{
    width:100%;
  }
  
}
/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s;
  display: flex;
  flex-direction: column;
}

.sidepanel .logo img {
  padding: 15px 0px;
  margin: 0;
  max-height: 40px;
}

/* The sidepanel links */
.sidepanel a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

@media (max-width: 768px) {
  .sidepanel a {
    display: flex;
  }
}

@media (max-width: 768px) {
  .sidepanel .hidden-mobile {
    display: none;
  }
}

.side h3 {
  color: #ff4700;
  font-size: 2rem;
  font-weight: 600;
}

.closebtn {
  border: none;
  padding: 0px 100px;
}

@media (max-width: 768px) {
  .closebtn {
    padding: 0px 0px;
  }
}

.side {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

/* --------INTRO-------- 

/* Default height for small devices */
@media only screen and (max-width: 570px) {
  #intro .bg-image {
    height: 100vh;
  }
}
#intro .bg-image {
  height: 100vh;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro .bgimage {
    height: 100vh;
  }
}

.bg-image p {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 650px;
}

.arrow {
  padding: 40px 0px 40px 180px;
  background-color: #000000;
}

@media only screen and (max-width: 570px) {
  .arrow {
    padding: 40px 180px 40px 55px;
  }
  .arrow img {
    width: 50%;
  }
}

/* Concepts */

.concepts {
  background-color: #000000;
}

.concepts.ps {
  padding-left: 20%;
}

.concepts.pe {
  padding-right: 15%;
}

.padk {
  margin-bottom: 5rem;
}

.concepts.py {
  padding-top: 10%;
  padding-bottom: 10%;
}

.concepts i {
  color: #ff4700;
  font-size: 20px;
}

.concepts-card .text {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}
.concepts-card i {
  color: #ff4700;
  font-size: 20px;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.concepts .sticky-text {
  position: absolute;
  overflow: visible;
  left: 11vw;
}

.concepts .sticky-text h1 {
  font-size: 2rem;
  font-weight: 600;
  writing-mode: vertical-lr;
  transform: rotate(0deg);
  color: #ffffff;
  position: sticky;
  top: 15%;
}

.concepts .sticky-text {
  height: 1330%;
}

@media only screen and (max-width: 1000px) {
  .concepts .sticky-text {
    height: 340%;
  }
}
@media only screen and (max-width: 500px) {
  .concepts .sticky-text {
    height: 1935%;
  }
}

@media only screen and (max-width: 570px) {
  .concepts i {
    font-size: 20px;
  }
  .concepts.pe {
    padding-right: 15%;
  }
  .concepts.ps {
    padding-left: 25%;
  }
  .concepts-card .text {
    color: #ffffff;
    font-size: 0.8rem;
  }
  .concepts-card i {
    color: #ff4700;
    font-size: 20px;
  }
}

.tech i {
  color: #ff4700;
  font-size: 20px;
}

.tech p span {
  color: #ff4700;
  font-weight: 600;
}
/* FOOTER  */

/* upper-footer   */

.upper-container {
  background-color: #000000;
  width: 100%;
}
.form-field input {
  font-size: 20px;
}
.form-field textarea {
  font-size: 20px;
}
.upper-section-footer .text-start {
  font-size: 1rem;
}
.upper-section-footer .upper-text h2 {
  font-size: 1rem;
}
/*social media icons*/
.label {
  font-size: 4rem;
}
.text {
  font-size: 0.8rem;
}
.upper-contact p {
  font-size: 1rem;
}

.start-form .sub-but input {
  border-style: outset;
  border-width: 2px;
  border-color: #767676 #212121 #767676 #767676;
  margin-right: 9.4rem;
}
@media only screen and (max-width: 700px) {
  .upper-section-footer .text-start {
    font-size: 0.8rem;
  }
  .start-form .sub-but input {
    margin-right: 0rem;
  }
  .upper-section-footer .upper-text h2 {
    font-size: 1.2rem;
  }
  .upper-contact p {
    font-size: 0.8rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .lower-container .text-row .row ul li {
    font-size: 0.6rem;
  }
}
/* lower-footer */

.lower-container {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.lower-container .text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3% 10% 3% 10%;
}
.lower-container .text-row .row ul {
  list-style: none;
}

.lower-container .text-row .row ul {
  margin: auto;
  text-align: left;
  border: 1px solid black;
}

.lower-container .text-row .row ul li {
  display: inline-block;
  width: 140.29px;
  height: 20.99px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
/* identical to box height */
  color: #ffffff;
}

.lower-container .text-row .row ul {
  padding: 0px;
}
.lower-container .text-row .row ul li {
  padding: 10px 0px;
  color: #ffffff;
}
.start-form input,
.start-form textarea {
  background-color: #808080;
  outline: none;
  color: white;
  padding: 4px 10px;
}

.lower-container .image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}
.lower-container .image-row img {
  height: 34px;
}
.lower-container .image-row p {
  /* position: relative;
  left: 198px;
  bottom: 27.45px; */
  width: 350.73px;
  height: 29.55px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}

#eu{
  position: absolute;
  top: 1679vh;
  right: 874px;
  width: 20px;
  height: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
#circle{
  position: absolute;
  top: 1676.5vh;
  left: 850px;
  width: 70px;
  height: 70px;
  background: url(.png);
  mix-blend-mode: normal;
}
#kaashl{
  position: absolute;
  left: 205px;
  font-size: 29px;
}
#kaashe{
  position: relative;
  font-size: 29px;
  left: 50px;
}
#luxembourg{
  position: relative;
  left: 140px;
  width: 26%;
  height: 45px;
  background: url(Luxembourg White.png);
  mix-blend-mode: normal;
}

.start-form input {
  width: 18rem;
}
.start-form textarea {
  resize: none;
  width: 83%;
  border-style: inset;
  border-width: 2px;
}

@media only screen and (max-width: 768px) {

  .start-form input {
    width: 14rem;
  }
  .start-form input {
    width: 11.2rem;
  }

  .start-form textarea {
    resize: none;
    width: 72%;
  }
  .lower-container .text-row .row ul li {
    display: inline-block;
    width: 54.29px;
    height: 20.99px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}
  .start-form input {
    width: 14rem;
  }
  .start-form input {
    width: 11.2rem;
  }

  .start-form textarea {
    resize: none;
    width: 72%;
  }
  #kaashl{
    position: absolute;
    left: 22px;
    font-size: 14px;
    /* padding: 100px; */
    /* margin-right: 32px; */
  }
  #kaashe{
    position: relative;
    top: 15px;
    font-size: 14px;
    left: -15px;
  }
  #circle{
    position: absolute;
    top: 2494.5vh;
    left: 27.1vh;
    width: 45px;
    height: 45px;
    background: url(.png);
    mix-blend-mode: normal;
  }
  #eu{
    position: absolute;
    left:29.1vh;
    /* right: 875px; */
    top: 2496vh;
    width: 20px;
    height: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  #luxembourg{
    position: relative;
    left: 31px;
    width: 44%;
    height: 45px;
    background: url(Luxembourg White.png);
    mix-blend-mode: normal;
  }
  
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
  
  #kaashl{
    position: absolute;
    left: 46px;
    font-size: 25px;
  }
  #kaashe{
    position: relative;
    font-size: 25px;
    left: 115px;
  }
  #circle{
    position: absolute;
    top: 1241.5vh;
    left: 33vh;
    width: 65px;
    height: 65px;
    background: url(.png);
    mix-blend-mode: normal;
  }
  #eu{
    position: absolute;
    left:34.7vh;
    top: 1243.3vh;
    width: 20px;
    height: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  #luxembourg{
    position: relative;
    left: 22px;
    width: 36%;
    height: 45px;
    background: url(Luxembourg White.png);
    mix-blend-mode: normal;
  }
}